@import "normalize";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~aos/src/sass/aos";
@import "~owl.carousel/dist/assets/owl.carousel.min.css";
@import "var";
@import "btns";
@import "formElements";
@import "global";
@import "main";
@import "tab";
@import "mobile";

